html, body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 97vh;
    width: 97vw;
    margin: 0;
    padding: 0;
}

.player {
  width: 0;
	height: 0;
	border-top: 50px solid #FFFFFF;
	border-left: 100px solid #222222;
	border-right: 0;
	border-bottom: 50px solid #FFFFFF;
  background-color: #FFFFFF;
}

.recorder {
  position: absolute;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 10vh solid #0088CC;
  height: 50vh;
  width: 50vh;
  top: 20vh;
  left: 10vw;
}

.recorder:active {
  background-color: #222222;
}
